.chinese-chess {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chinese-chess__board {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 577px;
    width: 521px;
    background: url('../../assets/img/board.jpg') no-repeat center;
}

.chinese-chess__board--square {
    width: calc(100% / 9);
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
