.chinese-chess__board {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 650px;
    background: url('../../assets/img/board/Board.svg') no-repeat center;
}

.chinese-chess__board--row {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-1.2%, 50%);
}

.coordinationsX {
    display: flex;
    flex-direction: row;
    transform: translateY(10%);
}

.coordinationsX h1 {
    width: calc(645px / 8);
    height: calc(645px / 8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    opacity: 0.4;
}

.coordinationsY {
    opacity: 0.4;
    font-size: 24px;
}
