.chinese-chess {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome__contain {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.welcome__contain .title {
    color: rgb(194, 53, 46);
    line-height: 1.5;
    text-align: center;
    font-weight: bold;
}
