.chinese-chess__board--square {
    width: calc(560px / 8);
    height: calc(630px / 9);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-14%, -50%);
}
