.chinese-chess__game {
    display: flex;
    height: 100%;
    width: 100%;
}

.chinese-chess__game--left {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 251, 242);
}

.chinese-chess__game--left--controller {
    display: flex;
    height: 50px;
    width: 100%;

    background-color: rgb(223 215 207);
}

.chinese-chess__game--right {
    display: flex;
    flex: 0.75;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: rgb(246, 241, 232);
    border-left: solid 1px red;
}

.chinese-chess__game--right--header {
    display: flex;
    flex: 0.15;
    width: 100%;
    border-bottom: 1px solid rgb(218, 210, 202);
}

.chinese-chess__game--right--contain {
    flex: 1;
    width: 100%;
    overflow-y: auto;
}

.chinese-chess__game--right--controller {
    display: flex;
    flex: 0.1;
    width: 100%;
    background-color: rgb(223 215 207);
}

.chinese-chess__game--right--footer {
    display: flex;
    flex: 0.15;
    width: 100%;
}
