.chinese-chess__game {
    display: flex;
    height: 100%;
    width: 100%;
}

.chinese-chess__game--sidebar {
    display: flex;
    flex: 0.6;
    height: 100%;
    width: 50%;
    background-color: rgb(246, 241, 232);
}
